<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">sahibinden.com</a>
      <form class="d-flex formWidth" onsubmit="return false;">
          <input
              id="searchInput"
              class="form-control me-2"
              type="search"
              placeholder="Ürün, açıklama, şehir ara..."
              aria-label="Search"
          />
          <button id="searchButton" class="btn btn-outline-success" type="submit">
            <i class="bi bi-search"></i> 
          </button>
      </form>
  </div>
</nav>
